# Imports
python -m pip install uvicorn
python -m pip install fastapi

# Start API
python -m uvicorn Inovaparq.API.main:app --reload

# Create MySQL DB
CREATE DATABASE IF NOT EXISTS inovaparq CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE inovaparq;
